<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%-code.NAME%> </title>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/post.css" style="text/css">
  </head>
  <body>
    <%- include('forum_header.ejs') %>
    <div class="block">
      <h3><%-code.NAME%></h3>
      <div class="code">
        <pre><%-code.SRC%></pre>
      </div>
    </div>
    <div class="result" style="text-align: center;">
      <form action=<%-"/code?code="+code.ID%> method="post" id="form1">
      </form>
      <button class="button1" type="submit" form="form1" name="action" value="cpar">Run</button>
    </div>
  </body>
</html>
