<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create new account</title>
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('account_header.ejs') %>
    <div class="create_account">
      <div>
        <h2>Create new account</h2>
        <form action= <%-"/create_account"%> method="post">
            <input class="input" name="name" placeholder="username" >
            <input class="input" name="email" placeholder="email" >
            <input class="input" name="password" placeholder="password" >
            <input class="input" name="retype_password" placeholder="retype password" >
        <br>
        <input type="submit" value="create" />
          <p style="<%= (locals.miss)? 'display:block':'display:none'%>">Please provide username, email and password</p>
          <p style="<%= (locals.same_email)? 'display:block':'display:none'%>">This email has been registor</p>
          <p style="<%= (locals.same_name)? 'display:block':'display:none'%>">This username has been registor</p>
          <p style="<%= (locals.short_pw)? 'display:block':'display:none'%>">Password should contain at least 8 char</p>
          <p style="<%= (locals.diff_pw)? 'display:block':'display:none'%>">Password and retype password are different</p>
        </form>
      </div>

  </div>
  </body>
</html>
