<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/forum_header.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <div class="navbar">
        <a href="/">
          <img src="/image/logo.png" class="navbar_logo"/>
        </a>
        <ul class="navbar_list">
            <li class="navbar_item">
                <a href="/code" class="navbar_link">Code</a>
            </li>
            <li class="navbar_item">
                <a href="/forum" class="navbar_link">Forum</a>
            </li>
            <li class="navbar_item">
                <a href=<%-"/post/new"%> class="navbar_link">New Post</a>
            </li>
            <li class="navbar_item">
                <a href="/" class="navbar_link">Home</a>
            </li>
            <li class="navbar_item navbar_submenu-container">
                <button class="navbar_link">Account</button>
                <ul class="navbar_submenu">
                    <li class="navbar_submenu-item" style="<%= session.ID? 'display:none':'block'%>">
                        <a href="/login" class="navbar_submenu-link">Login</a>
                    </li>
                    <li class="navbar_submenu-item" style="<%= session.ID? 'display:none':'block'%>">
                        <a href="/create_account" class="navbar_submenu-link">Register</a>
                    </li>
                    <li class="navbar_submenu-item" style="<%= session.ID? 'display:bock':'none'%>">
                        <a href="/user" class="navbar_submenu-link">User</a>
                    </li>
                    <li class="navbar_submenu-item" style="<%= session.ID? 'display:block':'none'%>">
                        <a href="/logout" class="navbar_submenu-link">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </body>
</html>
