<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/css/new_post.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div>
        <form action=<%-"/post?"%> method="post" id="post_submit">
            <div class="block">
                Title<br>
                <textarea class="textarea" id="TITLE" name="TITLE" style="height: 30px;"></textarea>
            </div>
            <div class="block">
                Content<br>
                <textarea class="textarea" id="CONTENT" name="CONTENT" style="min-height: 150px;"></textarea>
            </div>
            <div class="block container">
              <div class="code_file_container">
                Select your CODE
                <% for(var i=0; i<codes.length; i++) {%>
                <div class="code_file" style="font-size: 15px;">
                    <label><input type="radio" name="CODE" id=<%-"CODE"+i%> value=<%-codes[i].ID%> />  <%- codes[i].NAME %></label>
                </div>
                <% } %>
              </div>
            </div>
          </form>
          <div class="POST" style="text-align: center;">
            <button class="button1" type="button" name="button" value="submit" onclick=<%-"submitForm("+codes.length+")"%>>POST</button>
            <script src="submitForm.js" charset="utf-8"></script>
          </div>
    </div>
  </body>
</html>
