<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Block Forum</title>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="/css/user.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include ('forum_header.ejs') %>
    <div class="block">
        Username:&nbsp;&nbsp;&nbsp;<%= USERNAME %>
    </div>
    <div class="block">
        <a href="change_password">Change Password
    </div>
    <div class="block">
        CODEs:
    </div>
    <% for(var i=0; i<code.length; i++) {%>
      <div class="block">
      <div>
        <a href= <%-"/code?code="+code[i].ID%>><%= code[i].NAME %></a> <br>
        <div class="space"></div>
        <div class="code">
          <pre><%= code[i].SRC %></pre>
        </div>
      </div>
      </div>
    <% } %>
    <div class="block">
      POSTs:
    </div>
    <% for(var i=0; i<post.length; i++) {%>
      <% if (post[i].USER == USERNAME) {%>
        <div class="block">
          <a href= <%-"/post?post="+post[i].ID%>><%= post[i].TITLE %></a> <br>
          <button type="button" name="button" value="delete" onclick=<%-"deletePost("+post[i].ID+")"%>>Delete Post</button>
        </div>
      <% } %>
    <% } %>
    <script src="deletePost.js" charset="utf-8"></script>
  </div>
  </body>
</html>
